.site-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-top: 1px solid var(--color-border);

  @media (min-width: 1024px) {
    padding: 15px 30px;
  }
}

.footer-icon {
  max-width: 32px;
  padding-left: 10px;
  padding-right: 10px;

  @media (min-width: 1024px) {
    margin-bottom: 0;
  }
}
