<footer class="site-footer">
  <small>
    <a rel="me" href="https://sigmoid.social/@romain">
      {% image
        "src/assets/img/mastodon-icon.svg",
        "Mastodon",
        "(min-width: 1024px) 50vw, 100vw",
        "footer-icon",
        "eager"
      %}
    </a>
    <a href="https://twitter.com/RDeffayet">
    {% image
        "src/assets/img/twitter-icon.svg",
        "Twitter",
        "(min-width: 1024px) 50vw, 100vw",
        "footer-icon",
        "eager"
      %}
    </a>
  </small>
</footer>